<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>https://api.kitchen.onecat.dev</string>
	<key>R2PublicBaseURL</key>
	<string>https://pub-8d33170109064c1fb885324588ce359a.r2.dev</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机以拍摄菜品照片，用于在菜单中展示。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以选择菜品照片，用于在菜单中展示。</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
